@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Noto+Sans:wght@300; 400&familia=Oswald:wght@300&display=intercambio');

body{
    padding: 0 2% ;
    margin: 0;
    font-family: 'Kalnia', serif;

}

nav {
    display: flex;
    flex-wrap: row;
    justify-content:space-between;
    align-items: center;
    background-color: white;
    top: 0;
}
nav ul a{
    text-decoration: none;
    color: #000;
} 
nav .profil{
    display: flex;
    align-items: center;

}
nav .profil img{
    width: 50px;
    height: 50px;
    border-radius: 60%;
}

nav .profile h1{
    margin-left: 10px;
    font-size: 15px;
}

nav ul{
    display: flex;
    list-style-type: none; 
}

nav ul li{
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid #fff ;
}
nav ul li:hover {
    border-bottom-color:#000

}

.page-content{
   margin: 4%; 
} 
.page-content header{
    margin-top: 5%;
    max-width: 80%;
}
.page-content header h1{
    margin: 0%;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 6vw;
}
.page-content header p{
    line-height: 30px;
    color: #818181
}
.page-content header button{
    background-color: inherit;
    border: none;
    outline: none;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.page-content header button:hover{
    color: #ccc;
    border-bottom-color: #000; 
}
.page-content .presentacion-imagen{
    margin-top: 5%;
    text-align: center;
}
.page-content .presentacion-imagen img {
    max-width: 100%;
    height: auto;
}

.page-content .project-section{
    margin-top: 6%;
    
}
.page-content .project-section h1{
   font-family: 'Oswald', sans-serif;
   text-transform: uppercase;
   font-size: 3vw;
}
.page-content .project-section .projectos{
    display: flex;
    flex-wrap: wrap;
}
.page-content .project-section .projectos .project{
    margin-right: 20px;
    max-width: 195px;
}
.page-content .project-section .projectos .project h4{
    margin: 0;
}
.page-content .project-section .projectos .project .description{
    font-size: 13px;
    color: rgb(145, 145, 145);
}


footer {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 10px;

}
footer .colonne p{
    font-size: 12;
    color: #ccc;
    cursor: pointer;
}
footer .colonne p:hover{
   color: #fff;
}
h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
